
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 10px;
    background-color: $clr10;
}
.app-header h1 {
    margin: 0;
}
.app-header nav {
    margin: 10px;
    display: flex;
    gap: 10px;
}