// COLOR PALETTE

    $clr1: #606b5b;
    $clr2: #78636e;
    $clr3: #99a695;
    $clr4: #cdddc8;
  
    $clr5: #e9cedd;
    $clr6: #f7b9db;
  
    $clr7: #2c2c2c;
    $clr8: #9b9b9b;
    $clr9: #f0f0f0;

    $clr10: #add8e6;
    
    //BUTTON ADD 

    $clr11: #9bb89b;
    $clr12: #95e795;

    //BUTTON REMOVE

    $clr13: #f18a8a;
    $clr14: #f55b56;
    
    //HOME CAROUSEL  
    $clr15 : #f34949;
    $clr16 : #8eb4e9;
    $clr17 : #7dddee;


  